<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>传智播客论坛_帖子列表页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC?>/css/public.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC?>/css/list.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">itcast</div>
			<div class="nav">
				<a class="hover" href="../index.php">首页</a>
				<a class="hover" href="/model/publish.php">乱劈柴</a>
				<a class="hover" href="/model/list_father.php">龙门阵</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
			  <?php
                   if(isset($_SESSION['userInfo'])){
                   echo  '欢迎您,',$_SESSION['userInfo']['user_name'];
                   }else{
				    echo  '<a href="./login.php">登录</a>&nbsp;';
				    echo   '<a href="./register.php">注册</a>&nbsp;';
                   }
			  ?>
				<a href="./upload_image.php">上传头像</a>
				<a href="./logout.php">注销</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a >首页</a> &gt; <a>NBA</a>
	</div>
	<div id="main" class="auto">
		<div id="left">
			<div class="box_wrap">
				<h3>NBA</h3>
				<div class="num">
				    今日：<span>7</span>&nbsp;&nbsp;&nbsp;
				    总帖：<span>158061</span>
				  <div class="moderator"> 子版块： <a>NBA</a> <a>CBA</a></div>
				</div>
				<div class="pages_wrap">
					<a class="btn publish" href="../model/publish.php"></a>
					<div class="pages">
						<?php echo $strPage ;?>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<ul class="postsList">
			<?php while($row=mysql_fetch_assoc($res)) : ?>
             <?php
          			//得到最后回复时间和回复次数
          			$rep_pub_id = $row['pub_id'];
          			$sql = "select count(*) as rep_num,rep_time from (select * from reply order by rep_time desc) as a where rep_pub_id=$rep_pub_id ";
          			$res2 = my_query($sql);
          			$info = mysql_fetch_assoc($res2);
          			$rep_num = $info['rep_num'];
          			$rep_time = $info['rep_time'];
          			?>
				<li>
					<div class="smallPic">
						<a href="#">
							<img width="45" height="45" src="../uploads/images/<?php echo $row['user_image'];?>" />
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"><a href="">[分类]</a>&nbsp;&nbsp;<h2><a href="./show.php?pub_id=<?php echo $row['pub_id']; ?>"><?php echo $row['pub_title']?></a></h2></div>
						<p>
							楼主：<?php echo $row['pub_owner']; ?>&nbsp;<?php echo date('Y-m-d H:i:s',$row['pub_time'])?>&nbsp;&nbsp;&nbsp;&nbsp;最后回复：<?php if($rep_num==0){
							echo '暂无';
							}else{
							 echo date('Y-m-d H:i:s',$rep_time);
							}
							?>
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span><?php echo $rep_num;?></span>
						</p>
						<p>
							浏览<br /><span><?php echo $row['pub_hits'];?></span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
			<?php endWhile ; ?>
			</ul>
			<div class="pages_wrap">
				<a class="btn publish" href=""></a>
				<div class="pages">
					<?php echo $strPage ;?>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="right">
			<div class="classList">
				<div class="title">版块列表</div>
				<ul class="listWrap">
					<li>
						<h2><a href="#">NBA</a></h2>
						<ul>
							<li><h3><a href="#">乔丹</a></h3></li>
							<li><h3><a href="#">科比</a></h3></li>
							<li><h3><a href="#">库里</a></h3></li>
						</ul>
					</li>
					<li>
						<h2><a href="#">CBA</a></h2>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>传智播客</a>
		</div>
		<div class="copyright">Powered by itcast ©2015 itcast.cn</div>
	</div>
</body>
</html>