<!DOCTYPE html>
<html lang="zh-CN">
<head>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>传智播客论坛_帖子详情页</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC?>/css/public.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_PUBLIC?>/css/show.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">itcast</div>
			<div class="nav">
				<a class="hover" href="../index.php">首页</a>
				<a class="hover" href="/model/publish.php">乱劈柴</a>
				<a class="hover" href="/model/list_father.php">龙门阵</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<?php
                   if(isset($_SESSION['userInfo'])){
                   echo  '欢迎您,',$_SESSION['userInfo']['user_name'];
                   echo  '<a href="./upload_image.php">上传头像</a>';
                   }else{
				    echo  '<a href="./login.php?list=1">登录</a>&nbsp;';
				    echo   '<a href="./register.php">注册</a>&nbsp;';
                   }
			  ?>
				
				<a href="./logout.php">注销</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a> &gt; <a>CBA</a> &gt;
	</div>
	<div id="main" class="auto">
		<div class="wrap1">
			<div class="pages">
			<?php echo $strPage ;?>
			
			</div>
			<a class="btn reply" href="./reply.php?pub_id=<?php echo $row['pub_id']; ?>"></a>
			<div style="clear:both;"></div>
		</div>
			<?php if($pageNum < 2) :?>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="#">
						<img width="150" src="../uploads/images/<?php echo $row_image['user_image'];?>" />
					</a>
				</div>
				<div class="name">
					<a href=""><?php echo $row['pub_owner']?></a>
				</div>
			</div>
			<div class="right">
				<div class="title">
					<h2><?php echo $row['pub_title'] ;?></h2>
					<span>阅读：<?php echo mysql_fetch_assoc(my_query($sql))['pub_hits'] ;
					?>&nbsp;|&nbsp;回复：100</span>
					<div style="clear:both;"></div>
				</div>
			
				<div class="pubdate">
					<span class="date"><?php echo date('Y-m-d H:i:s',$row['pub_time']);?></span>
					<span class="floor" style="color:red;font-size:14px;font-weight:bold;">楼主</span>
				</div>
				<div class="content">
					<?php echo $row['pub_content'] ;?>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		         <?php endIf ;?>
		<?php $i=5*$pageNum - 4;while($rep_row=mysql_fetch_assoc($rep_res)) : ?>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="">
						<img width="150" src="../uploads/images/<?php echo $rep_row['user_image'];?>" />
					</a>
				</div>
			<div class="name">
				<a href=""><?php echo $rep_row['rep_user'];?></a>
			</div>
			</div>
			<div class="right">
				<div class="pubdate">
					<span class="date">回复时间：<?php echo date('Y-m-d H:i:s',$rep_row['rep_time'])?></span>
					<span class="floor"><?php echo $i++; ?>楼&nbsp;|&nbsp;<a href="./quote.php?num=<?php echo $i-1;?>&pub_id=<?php echo $row['pub_id'];?>&rep_id=<?php echo $rep_row['rep_id'];?>">引用</a></span>
				</div>
				<div class="content">
				     <?php if($rep_row['rep_flag']==1) :?> <!--这里是判断是否为引用层rep_flag-->
				     	<div class="quote">
					    <h2>引用 <?php echo $rep_row['rep_flag_num']; ?>楼 <?php echo $rep_row['rep_flag_user']; ?> 发表的: </h2>
					    <?php echo $rep_row['rep_flag_content']; ?>
					    </div>
					    <?php endIf ; ?>
					<?php echo $rep_row['rep_content']?>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<?php endWhile ;?>
		
		<div class="wrap1">
			<div class="pages">
				<?php echo $strPage ;?>
			</div>
			<a class="btn reply" href="./reply.php?pub_id=<?php echo $row['pub_id']; ?>"></a>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>传智播客</a>
		</div>
		<div class="copyright">Powered by itcast ©2015 itcast.cn</div>
	</div>
</body>
</html>